<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><a href="/">Blog</a></h1>
        </div>
        <nav>
          <ul>
            <li class="search-item"><form action="/search" method="GET" class="search-form">
              <label for="search-input">Search Post:</label>
              <input 
                type="search" 
                id="search-input" 
                name="q" 
                placeholder="Look for title..."
                value="<%= locals.searchQuery || '' %>"
                >
              <button type="submit">Explore</button>
            </form>  
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/post/new">Create New Post</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container"><%- body %></div>
    </main>
  </body>
</html>
