/* Reset and Box Sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}
a {
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

main {
  margin-top: 3rem;
}

main h1 {
  padding-top: 2rem;
}

header {
  background: #03a9f4;
  color: #fff;
  padding: 30px 0;
  border-bottom: #77aaff 3px solid;
}

header .container {
  display: flex;
  gap: 0;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

header li {
  margin-left: 20px;
}

header nav {
  flex-grow: 1;
}

header #branding h1 {
  margin: 0;
}

header #branding a {
  font-size: 2rem;
  text-transform: capitalize;
}

button {
  background: #333;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background: #77aaff;
}

ul.posts {
  list-style: none;
  padding: 0;
}

ul.posts li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border: #ccc 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-title {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

ul.posts li a:hover {
  color: #77aaff;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.post-content {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 3rem;
  margin-top: 3rem;
}

.post-content h1 {
  font-size: 3rem;
}

.post-content p {
  line-height: 1.7;
  color: #817e7e;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

form.create-post-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form.create-post-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  height: 150px;
}

form button {
  width: 20%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background: #77aaff;
}

.edit-post-form {
  margin-top: 1.5rem;
}

.edit-post-form input,
.edit-post-form textarea {
  margin-top: 0.7rem;
}

header li.search-item {
  flex-grow: 1;
  margin-left: 20px; 
}

.search-form {
  display: flex;
  width: 100%; 
}

.search-form label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.search-form input[type="search"] {
  flex-grow: 1;      
  font-size: 16px;
  padding: 10px 15px; 
  border: none;
  border-radius: 5px 0 0 5px; 
}

.search-form button {
  flex-grow: 0;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #333; 
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0; 
}

.search-form button:hover {
  background: #77aaff;
}